.mainpage {
    width: 100vw;
    height: 100%;
    background: url("https://ik.imagekit.io/amazon1234/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg_WGa3rCkj2.png?updatedAt=1627118744997") no-repeat;
    background-size: 100vw;
    background-color: #EAEDED;
}