.AdvertisementOne__main {
    height: 380px;
    min-width: 335px;
    background: white;
    margin: 10px;
}
.AdvertisementOne__header {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding:15px
}
.AdvertisementOne__body {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
}
.ad_fourImage {
    width: 140px;
    height: 100px;
    margin: 5px;
}
.AdvertisementOne__footer {
    padding: 15px;
}